# Import Library

In [22]:
from google_play_scraper import Sort, reviews
import pandas as pd

# Mulai proses scraping

In [23]:
# Scrape review aplikasi Tokopedia 
app_id = 'com.tokopedia.tkpd'
all_reviews = []

In [24]:
# Loop per 1000 karena limit maksimal per sekali request = 1000
for offset in range(0, 10000, 1000):
    rvs, _ = reviews(
        app_id,
        lang='id',
        country='id',
        sort=Sort.NEWEST,
        count=1000,
        filter_score_with=None,
    )
    all_reviews.extend(rvs)

In [25]:
# Simpan ke DataFrame
df = pd.DataFrame(all_reviews)
df = df[['content', 'score']]
df.columns = ['review', 'rating']
df.dropna(inplace=True)

### Simpan ke CSV

In [30]:
df.to_csv('data_tokopedia_reviews.csv', index=False, encoding='utf-8-sig')

In [29]:
print(f"Jumlah data: {len(df)}")
df.head()

Jumlah data: 10000

                                              review  rating
0  kasih bintang 2 dulu, udah ga re amah buat hp ...       2
1  paket lambat sekali pas mau beli estimasi samp...       1
2  banyak sekali produk yang non cod saya takut b...       4
3                                              goood       5
4                      goood.Mudahan Lebih turboo üèÄüöÄ       5

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   review  10000 non-null  object
 1   rating  10000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 156.4+ KB